.features-content h2 {
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    font-family: 'Harabara', sans-serif;
}

.features-content h5 {
    font-size: 1.2rem;
    font-weight: bolder;
}